{% extends 'base.html.twig' %}

{% block title %}
	All4Sport - Accueil
{% endblock %}

{% block body %}

	<div>
		<div class="d-flex justify-content-around align-items-center mt-3">
			<div>
				<nav class="navbar">
					<div class="container-fluid">
						<form class="d-flex" role="search">
							<input class="form-control me-2 search-input" type="search" placeholder="Recherche" aria-label="Search">
						</form>
					</div>
				</nav>
			</div>
			<div class="btn-group" role="group">
				<input type="checkbox" class="btn-check" id="option1" checked autocomplete="off">
				<label class="btn btn-secondary" for="option1">
					<i class="fa-solid fa-check check-icon"></i>
					Nouveauté
				</label>

				<input type="radio" class="btn-check" id="option2" name="options" autocomplete="off">
				<label class="btn btn-secondary" for="option2">
					<i class="fa-solid fa-check check-icon"></i>
					Prix Croissant
				</label>
				<input type="radio" class="btn-check" id="option3" name="options" autocomplete="off">
				<label class="btn btn-secondary" for="option3">
					<i class="fa-solid fa-check check-icon"></i>
					Prix décroissant
				</label>
			</div>
		</div>
		<div class="container mt-3">
			<div class="row row-cols-2 row-cols-md-4 g-4">
				{% for article in articles %}
					<div class="col article_hover" onclick="window.location.href='{{ path('article_detail', { 'id': article.id }) }}'">
						<div class="card shadow-sm p-3">
							<!-- Affichage de l'image -->
							{% if article.image %}
								<img src="{{ asset('uploads/' ~ article.image) }}" alt="{{ article.nom }}" class="card-img-top" width="250" height="250">
							{% else %}
								<img src="{{ asset('images/default-product.jpg') }}" alt="Image par défaut" class="card-img-top" width="250" height="250">
							{% endif %}

							<div class="card-body">
								<h5 class="card-title">{{ article.nom }}</h5>
								<!-- Affichage du prix -->
								<p class="card-text">{{ article.prix ? article.prix ~ ' €' : 'Prix non renseigné' }}</p>
							</div>
						</div>
					</div>
				{% else %}
					<p class="text-center w-100">Aucun Article n'a été trouvé</p>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
